<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box" [class.mat-elevation-z10]="true">
    <mat-card-header>
      <mat-card-title>Web bot</mat-card-title>
    </mat-card-header>
    <mat-card-content class="mt-10">
      <div>
        <div fxLayoutGap="10px" fxLayoutAlign="center bottom">
          <button mat-stroked-button color="primary" class="btn-block" routerLink="/login" *ngIf="!loggedIn()">Log In
          </button>
          <button mat-stroked-button color="primary" class="btn-block" routerLink="/data-collection" *ngIf="loggedIn()">
            Data collection
          </button>
          <button *ngIf="loggedIn()" class="btn-block" color="primary" mat-stroked-button
                  routerLink="/user-list">users
          </button>
        </div>
        <div class="mt-10" fxLayoutAlign="center center" fxLayoutGap="10px">
          <button mat-stroked-button color="primary" class="btn-block" routerLink="/insole" *ngIf="loggedIn()">Insole
            Registration
          </button>
          <button mat-stroked-button color="primary" class="btn-block" (click)="logout()" *ngIf="loggedIn()">Log out
          </button>
        </div>
        <div class="mt-10" fxLayoutAlign="center center" fxLayoutGap="10px">
          <button mat-stroked-button color="primary" class="btn-block" routerLink="/saved-logins" *ngIf="loggedIn()">Saved logins
          </button>
          <button mat-stroked-button color="primary" class="btn-block" routerLink="/order-registration" *ngIf="loggedIn()">Order registration
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>



