<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header" style="flex: auto">
  <span>Web bot</span>
  <span class="nav-tool-items">
    <a mat-button routerLink="/home">Home</a>
    <a mat-button routerLink="/data-collection">Data collection</a>
    <a mat-button routerLink="/insole">Insole registration</a>
    <a mat-button routerLink="/saved-logins">Saved logins</a>
    <a mat-button routerLink="/user-list" *ngIf="loggedIn()">Users</a>
    <a mat-button routerLink="/log" *ngIf="loggedIn()">Log</a>
    <a mat-button routerLink="/order-registration" *ngIf="loggedIn()">Order registration</a>
  </span>
  <span class="fill-remaining-space"></span>
  <span>
    <a mat-button routerLink="/user-detail/{{currentUser.id}}"
       *ngIf="loggedIn() && currentUser">Hi {{currentUser.username}}!</a>
    <a mat-button routerLink="/login" *ngIf="!loggedIn()">Login</a>
    <a mat-button (click)="logout()" *ngIf="loggedIn()">Log out</a>
  </span>
</mat-toolbar>
<div fxLayout="column" fxLayoutAlign="center center" class="dynamicSpacing" >
  <router-outlet></router-outlet>
</div>


