<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <span>Web bot</span>
  <span class="nav-tool-items">
    <a mat-button routerLink="/home">Home</a>
    <a mat-button routerLink="/scraper">Data Collection</a>
    <a mat-button routerLink="/user-list">Users</a>
  </span>
  <span class="fill-remaining-space"></span>
  <span>
    <a mat-button routerLink="/user" *ngIf="loggedIn()">Hi {{username}}!</a>
    <a mat-button routerLink="/login" *ngIf="!loggedIn()">Log In</a>
    <a mat-button (click)="logout()" *ngIf="loggedIn()">Log out</a>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>
