<!--<mat-icon aria-hidden="false" aria-label="Example home icon">done</mat-icon>-->
<!--<mat-icon aria-hidden="false" aria-label="Example home icon">report_problem</mat-icon>-->

<div style="margin-top: 200px;" fxLayout="column" fxLayoutAlign="center center"
     *ngIf="currentKey$ | async as key; else elseBlock">

  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="end end">

    <mat-card class="box"  [class.mat-elevation-z10]="true">
      <mat-card-header fxLayoutAlign="center top" style="margin-bottom: 10px">
        <mat-card-title>Order registration</mat-card-title>
      </mat-card-header>

      <form class="example-form" [formGroup]="orderRegisterForm" (ngSubmit)="startOrderRegistration()">
        <mat-card-content>

          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Order number splits on new line (enter press)"
                      formControlName="orderNumbers" cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="20"></textarea>
          </mat-form-field>

          <input type="number" name="dateBuffer" min="0" matInput placeholder="days to add to delivery date" formControlName="dateBuffer" (keypress)="keyPressNumbers($event)">

        </mat-card-content>
        <mat-card-actions>
          <div fxLayoutAlign="center top" fxLayoutGap="10px">
            <button mat-stroked-button color="primary" type="submit">Start registration</button>
            <button (click)="stopOrderRegistration()" mat-stroked-button color="primary" type="button">Stop
              registration
            </button>

          </div>

        </mat-card-actions>
      </form>
      <mat-card-footer>
        <mat-error *ngIf="error$ | async ">
          <button mat-icon-button color="warn" (click)="clearError()">x</button>
          {{error$ | async}}
        </mat-error>

      </mat-card-footer>
    </mat-card>

    <mat-card class="ordersBox" *ngIf="startedRegistration" style="margin-left: 10px" [class.mat-elevation-z10]="true">
      <mat-card-header fxLayoutAlign="center top" style="margin-bottom: 10px">
        <mat-card-title>Orders</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div *ngIf="currentOrderProcesses.length > 0">
          <mat-list >
            <div *ngFor="let order of currentOrderProcesses">
            <mat-list-item *ngIf="order.process === processEnum.FAIL">
              <div class="container">
                <p>{{order.orderNumber}}</p>
                <mat-icon class="orderIcon" aria-hidden="false" aria-label="Example home icon" style="color: red; ">report_problem
                </mat-icon>
              </div>
              </mat-list-item>
              <mat-list-item *ngIf="order.process === processEnum.COMPLETE">
              <div class="container">
                <p>{{order.orderNumber}}</p>
                <mat-icon class="orderIcon" aria-hidden="false" aria-label="Example home icon" style="color: green">done</mat-icon>
              </div>
              </mat-list-item>
              <mat-list-item *ngIf="order.process === processEnum.PENDING">
                <div class="container">
                  <p>{{order.orderNumber}}</p>
                  <mat-icon aria-hidden="false" aria-label="Example home icon" style="color: orange">hourglass_empty
                  </mat-icon>
                </div>
              </mat-list-item>
            <mat-list-item *ngIf="order.process === processEnum.PROCESSING">
              <div class="container">
                <p>{{order.orderNumber}}</p>
              <mat-spinner class="orderIcon" diameter="25" style="margin-left: 5px"></mat-spinner>
              </div>
            </mat-list-item>
            </div>
          </mat-list>

        </div>


      </mat-card-content>

      <mat-card-actions>

      </mat-card-actions>

      <mat-card-footer>

      </mat-card-footer>

    </mat-card>

    <mat-card class="box" *ngIf="startedRegistration" style="margin-left: 10px" [class.mat-elevation-z10]="true">
      <mat-card-header fxLayoutAlign="center top" style="margin-bottom: 10px">
        <mat-card-title>Process Steps</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div *ngIf="startedRegistration">
          <mat-list>
            <mat-list-item *ngIf="(getOrderInfo$ | async) as getOrderInfo"> Get order info
              <div *ngIf="getOrderInfo.error">
                <mat-icon aria-hidden="false" aria-label="Example home icon" style="color: red">report_problem
                </mat-icon>
              </div>
              <div *ngIf="!getOrderInfo.error">
                <mat-icon aria-hidden="false" aria-label="Example home icon" style="color: green">done</mat-icon>
              </div>
            </mat-list-item>
            <mat-list-item *ngIf="!(getOrderInfo$ | async)"> Get order info
              <mat-spinner diameter="25" style="margin-left: 5px"></mat-spinner>
            </mat-list-item>

            <mat-list-item *ngIf="(getOrder$ | async) as getOrder"> Get orders
              <div *ngIf="getOrder.error">
                <mat-icon aria-hidden="false" aria-label="Example home icon" style="color: red">report_problem
                </mat-icon>
              </div>
              <div *ngIf="!getOrder.error">
                <mat-icon aria-hidden="false" aria-label="Example home icon" style="color: green">done</mat-icon>
              </div>
            </mat-list-item>
            <mat-list-item *ngIf="!(getOrderInfo$ | async) && !(getOrder$ | async)"> Get orders
              <mat-icon aria-hidden="false" aria-label="Example home icon" style="color: orange">hourglass_empty
              </mat-icon>
            </mat-list-item>
            <mat-list-item *ngIf="!(getOrder$ | async) && (getOrderInfo$ | async)"> Get orders
              <mat-spinner diameter="25" style="margin-left: 5px"></mat-spinner>
            </mat-list-item>

            <mat-list-item *ngIf="(allocateOrder$ | async) as allocateOrder"> Allocating orders
              <div *ngIf="allocateOrder.error">
                <mat-icon aria-hidden="false" aria-label="Example home icon" style="color: red">report_problem
                </mat-icon>
              </div>
              <div *ngIf="!allocateOrder.error">
                <mat-icon aria-hidden="false" aria-label="Example home icon" style="color: green">done</mat-icon>
              </div>
            </mat-list-item>
            <mat-list-item *ngIf="!(getOrder$ | async) && !(allocateOrder$ | async)"> Allocating orders
              <mat-icon aria-hidden="false" aria-label="Example home icon" style="color: orange">hourglass_empty
              </mat-icon>
            </mat-list-item>
            <mat-list-item *ngIf="!(allocateOrder$ | async) && (getOrder$ | async)"> Allocating orders
              <mat-spinner diameter="25" style="margin-left: 5px"></mat-spinner>
            </mat-list-item>

          </mat-list>

        </div>


      </mat-card-content>

      <mat-card-actions>

      </mat-card-actions>

      <mat-card-footer>

      </mat-card-footer>

    </mat-card>

  </div>


  <div *ngIf="registrationComplete" class="login-wrapper table" fxLayout="row"
       fxLayoutAlign="center top" style="margin-top: 10px" [class.mat-elevation-z10]="true">

    <table mat-table [dataSource]="displayLogEntries$" style="width: 1000px" >

      <ng-container matColumnDef="OrderNum">
        <th mat-header-cell *matHeaderCellDef style="padding: 10px"> Order #</th>
        <td mat-cell *matCellDef="let logEntry" style="padding: 10px"> {{logEntry.order.orderNr}} </td>
      </ng-container>

      <ng-container matColumnDef="Process">
        <th mat-header-cell *matHeaderCellDef style="padding: 10px"> Process</th>
        <td mat-cell *matCellDef="let logEntry" style="padding: 10px"> {{ processStepToString(logEntry.process)}} </td>
      </ng-container>

      <ng-container matColumnDef="Completed">
        <th mat-header-cell *matHeaderCellDef style="padding: 10px"> Completed</th>
        <td mat-cell *matCellDef="let logEntry" style="padding: 10px"> {{logEntry.status}} </td>
      </ng-container>

      <ng-container matColumnDef="Message">
        <th mat-header-cell *matHeaderCellDef style="padding: 10px"> Message</th>
        <td mat-cell *matCellDef="let logEntry" style="padding: 10px">
          <div *ngIf="logEntry.error">
            {{logEntry.error.errorMessage}}
          </div>
          <div *ngIf="!logEntry.error">
            Success
          </div>

        </td>
      </ng-container>

      <ng-container matColumnDef="CompletedAt">
        <th mat-header-cell *matHeaderCellDef style="padding: 10px"> Completed at</th>
        <td mat-cell *matCellDef="let logEntry" style="padding: 10px"> {{logEntry.timestamp | date: 'medium'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>

    </table>

  </div>

</div>


<ng-template #elseBlock>
  <app-key-verify></app-key-verify>
</ng-template>
