<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" >

  <mat-card class="box" [class.mat-elevation-z10]="true">
    <mat-card-header>
      <mat-card-title>Web bot</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <div fxLayoutGap="10px" fxLayoutAlign="center bottom">
          <button mat-stroked-button color="primary"  class="btn-block" routerLink="/login" *ngIf="!loggedIn()">Log In</button>
          <button mat-stroked-button color="primary"  class="btn-block" routerLink="/scraper" *ngIf="loggedIn()">Data collection</button>
          <button mat-stroked-button color="primary"  class="btn-block" routerLink="/user-list" *ngIf="loggedIn()">users</button>
        </div>
        <div fxLayoutAlign="center center">
          <button mat-stroked-button color="primary" class="btn-block" (click)="logout()" *ngIf="loggedIn()">Log out</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>



